<h1>Editing User</h1>

<%= render 'form', user: @user %>

<div class="action-item"><a><h5><%= link_to 'Mostrar', @user %></h5></a></div>
<div class="action-item"><a><h5><%= link_to 'Voltar', users_path %></h5></a></div>
