<h1>Home#index</h1>
<p><%= link_to "Projetos", projects_path %></p>
<p><%= link_to "Eventos", eventos_path %></p>
<p><%= link_to "Fluxo de Caixa", cashiers_path %></p>
<%if current_user.admin?%>
<p><%= link_to "Usuarios", users_path %></p>
<%end%>