<h1>Editing Evento</h1>

<%= render 'form', evento: @evento %>

<div class="action-item"><a><h5><%= link_to 'Show', @evento %></h5></a></div>
<div class="action-item"><a><h5><%= link_to 'Back', eventos_path %></h5></a></div>
