<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<div class="action-item"><a><h5><%= link_to 'Mostrar', @project %></h5></a></div>
<div class="action-item"><a><h5><%= link_to 'Voltar', projects_path %></h5></a></div>
